.about-me {
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  justify-content: center;
  align-items: center;
  transition: opacity 3.5s ease;
  margin-top: 20px;
}

.about-me h2 {
  color: #fff;
  font-size: 35px;
}

.about-me .content {
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color:black;
  font-size: 18px;
}

.about-me .contenido1,
.about-me .contenido2 {
  display: flex;
  flex-direction: row; /* Alineamos los elementos en fila */
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 20px; /* Añade separación entre filas */  
  padding: 20px;
}


.izquierda {
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  justify-content: center; /* Alinea los elementos verticalmente al centro */
  align-items: flex-end; /* Alinea los elementos horizontalmente al centro */
  width: 45%; /* Ancho del 45% para cada columna */
  text-align: right;  
}


.derecha {
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  justify-content: center; /* Alinea los elementos verticalmente al centro */
  width: 45%; /* Ancho del 45% para cada columna */
  margin-left: auto; /* Alinea a la derecha */
  text-align: left;  
}


.about-me .content p {
  margin-bottom: 5px;  
}

.imagen {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}
.imagen:hover {
  transform: scale(1.05); /* Escala la imagen al 110% en hover */
}

.derecha p {
  display: flex;
  justify-content: center; /* Alinea horizontalmente el texto al centro */
}

.video-background { 
  border-radius: 20px; /* Redondea las esquinas del video */
  width: 5%; /* Haz que el video sea más pequeño */
  height: auto; /* Mantiene la relación de aspecto */
}
