/* aboutme.css */
.about-me {
  opacity: 0;
  transition: opacity 3.5s ease; /* Transición suave de la opacidad */
}

.about-me h2 {
  color: #fff; /* Color del título */
}

.about-me .content {
  margin-top: 20px;
}

.about-me .content p {
  margin-bottom: 10px;
}

.about-me.fade-in {
  opacity: 1;
}

/* styles.css */
.fade {
  transition: opacity 2.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
