.about-me {
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 20px 0;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(to bottom, #add8e6, #004d99);
}

.about-me h2 {
  color: #fff;
  font-size: 35px;
}
.contenido1, .contenido2 {
  display: flex;
  flex-direction: row; /* Alineamos los elementos hijos en fila */
  justify-content: space-between; /* Distribuimos el espacio entre los elementos */
  align-items: center;
  margin: 20px 0;
}

.izquierda, .derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.izquierda{
  text-align: right;
  align-items:flex-end;
  padding: 10px;
}

.derecha{
  text-align: left;
  align-items:flex-start;
  padding: 10px;
}


.imagen {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}
.imagen:hover {
  transform: scale(1.05); /* Escala la imagen al 110% en hover */
}


.video-background { 
  border-radius: 20px; /* Redondea las esquinas del video */
  width: 5%; /* Haz que el video sea más pequeño */
  height: auto; /* Mantiene la relación de aspecto */
}
