/* navbar.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 999;
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
}

.right a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

select {
  margin-right: 20px;
}
.project-image:hover {
  transform: scale(1.1); /* Escala la imagen al 110% en hover */
}
