/* navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 999;
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
}

.right a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  position: relative;
}

.right a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: blue;
  transition: width 0.3s;
  bottom: -2px;
  left: 0;
}

.right a:hover::after {
  width: 100%;
}

select {
  margin-right: 20px;
}
.project-image:hover {
  transform: scale(1.1); /* Escala la imagen al 110% en hover */
}
