body {
    background-color: #454444; /* Color similar al del encabezado */
    margin: 0; /* Asegura que no haya márgenes predeterminados */
    padding-top: 60px; /* Ajusta el relleno superior para compensar el encabezado fijo */
}

.about-container {
    background-image: url('../img/fondo.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    /* padding: 50px;  *//* Ajusta el espacio alrededor del contenido */
    padding-top: 50px;
    padding-bottom: 0;
    color: #fff; /* Color de texto */
    text-align: center; /* Centra el contenido horizontalmente */
}

.projects-container{
    background-image: url('../img/p5.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 0px; /* Ajusta el espacio alrededor del contenido */
    color: #fff; /* Color de texto */
    text-align: center; /* Centra el contenido horizontalmente */    
}

.contact-container{
    background-image: url('../img/p3.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 0px; /* Ajusta el espacio alrededor del contenido */
    color: #fff; /* Color de texto */
    text-align: center; /* Centra el contenido horizontalmente */   
}