/* Container.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #ffffff;
    max-width: 800px; /* Ajusta según sea necesario */
    margin: 0 auto;
}

/* Estilo para la tabla de contenido adicional */
.additional-content {
    margin-bottom: 20px; /* Espacio entre la tabla y los proyectos */
}

.additional-content table {
    width: 100%;
}

.additional-content table td {
    padding: 10px;
}

.additional-content table .left-content {
    text-align: left; /* Alineación a la izquierda para datos personales */
}

.additional-content table .right-content {
    text-align: center; /* Alineación al centro para Intereses */
}

/* Estilo para cada fila de proyectos */
.projects-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre filas */
    color: #000000; /* Color de texto */
}

/* Estilo para cada proyecto */
.project {
    flex: 0 0 30%;
    max-width: 30%;
    border: 1px solid #282020; /* Añadir borde blanco alrededor de cada proyecto */
    padding: 10px; /* Añadir espacio interno alrededor del contenido del proyecto */
    box-sizing: border-box; /* Asegurar que el borde se incluya en el tamaño total */
}

/* Estilo para las imágenes de los proyectos */
.project img {
    width: 100%;
    height: 150px; /* Establecer la altura deseada para todas las imágenes */
    object-fit: cover; /* Ajustar las imágenes para cubrir todo el contenedor sin distorsionar */
}

/* Estilo para los enlaces de proyectos */
.project-links {
    display: flex;
    justify-content: space-between;
}
.project-table img:hover {
    transform: scale(1.1); /* Cambia el valor para ajustar el nivel de aumento */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}
/* Estilo adicional según sea necesario */

/* Separador entre contenido adicional y proyectos */
