/* Footer.css */
footer {
    background-color: #333;
    padding: 5px 25px;
    border-top: 2px solid #000;
}

.footer-content {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

.footer-content p {
    color: #fff;
    margin: 0; /* Elimina el margen predeterminado */
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block; /* Hace que los elementos de la lista se muestren en línea */
}

.footer-links li:not(:last-child) {
    margin-right: 20px; /* Agrega espacio entre los elementos de la lista */
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #ddd;
}
